body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 24px;
  width: 100%;
  max-width: 500px;
}

form {
  display: grid;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
}
